/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }
one{
      
    text-align: center;
    width: 100%;
}
label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    padding:10px;
}
/* .input1{
    width: 30%;
    height:40px;
     border-radius: 2px;
outline:none;
    }
.input2{
    width: 30%;
    height: 40px;
    border-radius: 2px;
    outline: none;
} */
input[type="text"]{
    margin-top: 15px;
    text-align: center;
    height: 50px;
    top:10px;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
    outline: none;

}
input[type="text"]:focus{
    outline: none;

}
a:hover{
    background-color:cornflowerblue;
    color: aquamarine;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.col-md-4{
    border-top:5px blue solid;
    border-right:3px solid #f1f1f1;  
}